h4{
  font-family: Cabin !important;
}
span{
  font-family: Cabin !important;
}
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}
button > span{
  font-size: 18px;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
th{
  text-align: center !important;
  font-family: Cabin !important;
font-style: normal !important;
font-weight: normal !important;
font-size: 14px !important;
line-height: normal !important;

color: #1EB7E6 !important;
}
td{
  text-align: center !important;
  font-family: Cabin !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-size: 14px !important;
  line-height: normal !important;
}
ul > div > div > div > span {
  color: #fff !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-size: 20px !important;
  line-height: normal !important;


}
a > div > div > span {
  color: #fff !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-size: 20px !important;
  line-height: normal !important;

}
.listCollapse >div >div >  span{
  font-style: normal !important;
  font-weight: normal !important;
  font-size: 20px !important;
  line-height: normal !important;
}
.menuText{
  font-style: normal !important;
  font-weight: normal !important;
  font-size: 20px !important;
  line-height: normal !important;
}
#vehicleButton:hover , #userButton:hover, #kilometerButton:hover{
  background-color: #215E94;
  color: #fff;
}
.unityInput {
  width: 50%;
  margin: auto;
}
.unityInput > label[data-shrink="true"]{
  color: #3AC0E9;

}
.unityInput > div::after{
  border-bottom: 2px solid #3AC0E9 !important;

}
.add{
  padding-top: 10% !important;
}
.summaryTitle{
  font-family: Cabin !important;
  font-style: normal !important;
  font-size: 12px !important;
  line-height: normal !important;
  
  color: rgba(4, 4, 4, 0.50) !important;
}
.summaryValue{
  font-family: Cabin !important;
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 24px !important;
  line-height: normal !important;
  
  color: #575757 !important;
}
.dateSelect, .dateSelect:hover{
  background-color: inherit !important;
}
.selectContainer{
  position: relative;
  display: contents;
}
.selectCircle{
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 10px;
}
.selectCheck{
  position: absolute !important;
  right: 0;
}
.circleYellow{
  background-color: #F9CA22;
}
.circleGreen{
  background-color: #5EC61D;
}
.circleBlue{
  background-color: #10B6EA;
}
.circleDarkBlue{
  background-color: #1E4ECA;
}
.circlePurple{
  background-color: #9710EA;
}
.circleRed{
  background-color: #CF1C1C;
}
.tableLink{

  text-decoration-line: underline !important;
  
  color: #215E94 !important;
}
.tableStatusOK{
  color: #6ED3F2 !important;
}
.tableStatusFin{
  color: #98BE2A !important;
}
.tableStatusPen{
  color: #EC8154 !important;
}
.mapMarker{

  border: 1px solid #1E4ECA;
  padding: 15px;
  border-radius: .4em;
  color : #fff;
  font-size: 24px;
}
.mapMarker::after{
  content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-bottom: 0;
	margin-left: -20px;
	margin-bottom: -20px;
}
.transit {
  background: #1E4ECA;
}
.transit::after{
  border-top-color: #1E4ECA;
}
.site {
  background: #F9CA22;
}
.site::after{
  border-top-color:  #F9CA22;
}
.service {
  background: #5EC61D;
}
.service::after{
  border-top-color: #5EC61D;
}
.sidebarActive{
  color: #215E94 !important;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
